<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleScrob.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53825B831F7E8CC600566F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53825B971F7E8CC700566F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53825BA21F7E8CC700566F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
